/* body{
            margin:0;
            padding:0;
         } */
         .gellary-section{
            /* background: #610b19; */
            background: linear-gradient(to bottom, #610b19, #610b19, black);
            margin-top:-10px;
            padding-top:50px;
            padding-bottom:100px;
         }
         .portfolio-menu{
            text-align:center;
         }
         .portfolio-menu ul li{
            display:inline-block;
            margin:0;
            list-style:none;
            padding:10px 15px;
            cursor:pointer;
            -webkit-transition:all 05s ease;
            -moz-transition:all 05s ease;
            -ms-transition:all 05s ease;
            -o-transition:all 05s ease;
            transition:all .5s ease;
            color:white;
            background-color:#013a55;
         }

         .portfolio-item{
            
         }
         .portfolio-item .item{
         
            float:left;
            margin-bottom:10px;
         }