/*Contact sectiom*/

.content-header {
    font-family: 'Oleo Script', cursive;
    color: #fcc500;
    font-size: 45px;
  }
  
  .section-content {
    text-align: center;
  }

  .contact-info{
      display: flex;
      flex-direction: column;
      justify-content: center;
      .phoneNumber{
          display: flex;
          flex-direction: row;
          //justify-content: center;
          h1{
            font-size: 20px;
            //border: 1px solid white;
            padding: 20px 10px;
            display: block;
            width: 150px;
            font-size: 20px;
          }
          p{
            //border: 1px solid white;
            padding: 20px 10px;            
            display: block;
            width: 150px;
            font-size: 20px;
          }
      }
      .email{
        display: flex;
        flex-direction: row;
        //justify-content: center;
        h1{
            //border: 1px solid white;
            padding: 20px 10px;            
            display: block;
            width: 150px;
            font-size: 20px;
        }
        p{
            //border: 1px solid white;
            padding: 20px 10px;            
            display: block;
            width: 150px;
            font-size: 20px;
        }
      }
      .address{
        display: flex;
        flex-direction: row;
        //justify-content: center;
        h1{
            //border: 1px solid white;
            padding: 20px 10px;            
            display: block;
            width: 150px;
            font-size: 20px;
        }
        p{
            //border: 1px solid white;
            padding: 20px 10px;            
            display: block;
            width: 150px;
            font-size: 20px;
        }
      }
  }
  
  #contact {
    background-image:url(../img/26.jpg); 
    font-family: 'Teko', sans-serif;
    padding-top: 60px;
    width: 100%;
    width: 100%;
    height: 550px;
    background: rgb(97, 11, 25);
    background: -webkit-linear-gradient(to top, #000000, rgb(97, 11, 25));
    background: linear-gradient(to top, #000000, rgb(97, 11, 25));
    color: #fff;
  }
  
  .contact-section {
    padding-top: 0px;
    .col-md-6 {
      width: 100%;
    }
  }
  
  .form-line {
    border-right: 1px solid #B29999;
  }
  
  .form-group {
    margin-top: 10px;
  }
  
  label {
    font-size: 1.3em;
    line-height: 1em;
    font-weight: normal;
  }
  
  .form-control {
    font-size: 1.3em;
    color: #080808;
  }
  
  textarea.form-control {
    height: 135px;
    /* margin-top: px;*/
  }
  
  .submit {
    font-size: 1.1em;
    float: right;
    width: 150px;
    background-color: transparent;
    color: #fff;
  }