.contact-section-1 {
    background-image: url(../img/6.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    align-content: center;
    margin-top: -50px;
    padding: 200px 0px;
  }
  
  .con {
    width: 100%;
    justify-content: center;
    display: flex;
    .box {
      position: relative;
      width: 300px;
      height: 100px;
      box-sizing: border-box;
      text-align: center;
      margin: 0 10px;
      background: #00171d;
      overflow: hidden;
      border-radius: 4px;
      box-shadow: 0 0 0 2px rgba(0, 7, 10, 1);
      .icon {
        width: 100%;
        height: 100%;
        background: #00171d;
        transition: 0.5s;
        .fa {
          font-size: 4em;
          line-height: 100px;
          color: rgb(4, 189, 189);
        }
      }
      &:hover .icon {
        transform: scale(0);
      }
      .details {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #013a55;
        transition: 0.5s;
        transform: scale(2);
        opacity: 0;
      }
      &:hover .details {
        transform: scale(1);
        opacity: 1;
      }
      .details {
        h3 {
          margin: 0;
          padding: 0;
          line-height: 100px;
          font-size: 24px;
          color: #fff;
        }
        &:nth-child(2) .details {
          background: #e91e63;
          background: #607d8b;
        }
      }
    }
  }