.description-section{
    background: rgb(97, 11, 25);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right,black, rgb(97, 11, 25), black); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    div{
        //padding: 10px;
        .description-section-image{
            padding: 60px 50px;
        }
        .description-section-dec{
            text-align: justify;
            text-justify: inter-word;
            padding: 80px 35px;
            color: rgb(207, 201, 201);
            
        }
    }
}