nav{
    background: #c31432;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgba(36,11,54,0), rgba(195,20,50,0.5));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgba(36,11,54,0), rgba(195,20,50,0.5)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    height: 50px;
    transition: all ease-in-out 0.5s;
    a{
        color: white;
        font-family: 'Oleo Script', cursive;        
        font-size: 20px;
        // font-style: italic;
        transition: all ease-in-out 0.5s;
        &:hover{
            color: rgb(223, 206, 206);
        }
    }
    li{
        //margin-right: 50px;
        // &:nth-child(5){
        //     margin-right: 0px;
        // }
        transition: all ease-in-out 0.7s;
        &:hover{
            //background-color: #c31432;
        }
    }
}
.navbar-toggler{
    background-color: #7a0c1e;
    color: #c31432;
}
.navbar-brand{
    position: absolute;
    margin-top: 50px;
    transition: all ease-in-out 0.5s;
    margin-left: 90px;
    img{
        transition: all ease-in-out 0.5s;
    }
    
}

@media screen and (max-width: 992px) {
    .main-navbar{
        background-color: #c3143152;
        padding: 0px;
        margin-top: 5px;
        ul{
            float: right;
            text-align: center;
            width: 100%;
            li{
                margin-right: 0px;
                width: 100%;
                &:hover{
                    background-color: #7a0c1e;
                } 
            }
        }

    }

    .navbar-brand{
        position: absolute;
        margin-top: 0px;
        transition: all ease-in-out 0.5s;
        margin-left: 20px;
        img{
            transition: all ease-in-out 0.5s;
            height: 35%;
            width: 35%;
        }
        
    }
}