.recentEvent-section{
    background-image: url(../img/1.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    //background-color: rgb(97, 11, 25);
    padding-top:50px;
    padding-bottom:50px;
    position: relative;
    .recentEvent-mask{
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        opacity: 0;
        position: absolute;
        background: rgba(195, 20, 49, 0.472);
        //background: linear-gradient(to left, rgb(97, 11, 25),rgba(0,0,0,0),rgb(97, 11, 25)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }
    div{
       
        div{
            padding: 0px;
            div{
                padding: 7px;
                z-index: 5;
                .mask-events{
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    z-index: 2;
                    position: absolute;
                    background: rgba(195, 20, 49, 0.315);
                    opacity: 1;
                    border: 5px solid transparent;
                    margin: 7px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    a{
                        color: white;
                        background-color:rgba(97, 11, 25, 0.363); 
                        text-decoration: none;
                        display: block;
                        padding: 20px;
                        border: white 1px solid;
                        width: 200px;
                        text-align: center;
                        transition: all 0.2s ease-in-out;
                        &:hover{
                            background-color:rgba(97, 11, 25, 0.966); 
                            transform: scale(1.2);
                        }
                   }
                }
            }
        }
    }

}