$service-padding :5px;
.service-section{
    background: linear-gradient(to bottom, #610b19, black);    
    height: 650px;
    padding: 100px 0px 50px 0px;
    position: relative;
   .service-img{}

   .mask-service{
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 0;
        position: absolute;
        background: rgba(195, 20, 49, 0.205);
        opacity: 1;
        border: 5px solid transparent;
        margin: 5px;

       display: flex;
       justify-content: center;
       align-items: center;
       transition: all 0.2s ease-in-out;
       a{
            color: white;
            background-color:rgba(97, 11, 25, 0.363); 
            text-decoration: none;
            display: block;
            padding: 20px;
            border: white 1px solid;
            width: 200px;
            text-align: center;
            transition: all 0.2s ease-in-out;
            &:hover{
                background-color:rgba(97, 11, 25, 0.966); 
                transform: scale(1.2);
            }
       }
   }
    .service{
        height: 300px; 
        position: relative;
        
        .service-main{
            padding: $service-padding;
        }
        .service-scendary{

            .service-scendary-1{
                height: 300px;
                padding: 0px;
                
                div{
                    padding: $service-padding;
                    
                }
    
            }
            .service-scendary-2{
                height: 200px;
                div{
                    padding: $service-padding;
                }
            }
        }
    }
    
    
}