.carousel-indicators{
    margin-bottom: 10px;
    li{
        height: 5px;
        width: 40px;
    }
}
.carousel-caption{
    margin-bottom: 40px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.mask{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    position: absolute;
    background: #c31432;  /* fallback for old browsers */
    background: linear-gradient(to top, rgb(97, 11, 25),rgba(0,0,0,0)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    // background: -webkit-linear-gradient(to right, rgba(36,11,54,0.3), rgba(195,20,50,0.3),rgba(195,0,0,0));  /* Chrome 10-25, Safari 5.1-6 */
}


