@import 'compass/reset';
@import 'compass/css3';
@import 'nav';
@import 'slider';
@import 'service';
@import 'recentEvent';
@import 'descriptio';
@import 'trustedCompany';
@import 'contact-Us';
@import 'contactUs-Page';
@import 'gallery';
@import 'footer';
body{
    font-family: 'Oleo Script', cursive;
    //font-family:sans-serif;
}
img{
    width:100%;
    height:100%;
}