.trusted-company{
    position: relative;
    div{
        .logo-container{
            background: rgb(97, 11, 25);  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right,black, rgb(97, 11, 25), black); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            margin-bottom: 0px; 
        }
    }
    .title-of-logo{
        padding: 5px;
        font-size: 25px;
        color: rgb(4, 189, 189);
           
    }
    .navigation-box {
        top: 0;
        right: 0;
        width: 100%;
        position: absolute;
        
    }
    @media (min-width: 768px){
        .breaking-caret:after {
            content: "";
            width: 0;
            height: 0;
            border-top: 20px solid transparent;
            //border-left: 15px solid #007bff;
            border-bottom: 20px solid transparent;
            position: absolute;
            right: -15px;
            top: 0;
        }
    }

}