/*Contact sectiom*/
/* line 3, ../sass/contactUs-Page.scss */
.content-header {
  font-family: 'Oleo Script', cursive;
  color: #fcc500;
  font-size: 45px;
}

/* line 9, ../sass/contactUs-Page.scss */
.section-content {
  text-align: center;
}

/* line 13, ../sass/contactUs-Page.scss */
.frame {
  padding: 15px;
  height: 100%;
  width: 100%;
}

/* line 22, ../sass/contactUs-Page.scss */
#contact {
  background-image: url(../img/26.jpg);
  font-family: 'Teko', sans-serif;
  padding-top: 60px;
  width: 100%;
  width: 100%;
  background: #610b19;
  background: -webkit-linear-gradient(to top, #000000, #610b19);
  background: linear-gradient(to top, #000000, #610b19);
  color: #fff;
}

/* line 35, ../sass/contactUs-Page.scss */
.contact-section {
  padding-top: 0px;
}
/* line 37, ../sass/contactUs-Page.scss */
.contact-section .col-md-6 {
  width: 100%;
}

/* line 46, ../sass/contactUs-Page.scss */
.form-group {
  margin-top: 10px;
}

/* line 50, ../sass/contactUs-Page.scss */
label {
  font-size: 1.3em;
  line-height: 1em;
  font-weight: normal;
}

/* line 56, ../sass/contactUs-Page.scss */
.form-control {
  font-size: 1.3em;
  color: #080808;
}

/* line 61, ../sass/contactUs-Page.scss */
textarea.form-control {
  height: 135px;
  /* margin-top: px;*/
}

/* line 66, ../sass/contactUs-Page.scss */
.submit {
  font-size: 1.1em;
  float: right;
  width: 150px;
  background-color: transparent;
  color: #fff;
}
