/* line 1, ../sass/contact-Us.scss */
.contact-section-1 {
  background-image: url(../img/6.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  align-content: center;
  margin-top: -50px;
  padding: 200px 0px;
}

/* line 11, ../sass/contact-Us.scss */
.con {
  width: 100%;
  justify-content: center;
  display: flex;
}
/* line 15, ../sass/contact-Us.scss */
.con .box {
  position: relative;
  width: 300px;
  height: 100px;
  box-sizing: border-box;
  text-align: center;
  margin: 0 10px;
  background: #00171d;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 0 0 0 2px #00070a;
}
/* line 26, ../sass/contact-Us.scss */
.con .box .icon {
  width: 100%;
  height: 100%;
  background: #00171d;
  transition: 0.5s;
}
/* line 31, ../sass/contact-Us.scss */
.con .box .icon .fa {
  font-size: 4em;
  line-height: 100px;
  color: #04bdbd;
}
/* line 37, ../sass/contact-Us.scss */
.con .box:hover .icon {
  transform: scale(0);
}
/* line 40, ../sass/contact-Us.scss */
.con .box .details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #013a55;
  transition: 0.5s;
  transform: scale(2);
  opacity: 0;
}
/* line 51, ../sass/contact-Us.scss */
.con .box:hover .details {
  transform: scale(1);
  opacity: 1;
}
/* line 56, ../sass/contact-Us.scss */
.con .box .details h3 {
  margin: 0;
  padding: 0;
  line-height: 100px;
  font-size: 24px;
  color: #fff;
}
/* line 63, ../sass/contact-Us.scss */
.con .box .details:nth-child(2) .details {
  background: #e91e63;
  background: #607d8b;
}
