.card-body{
    /* background-color: rgb(126, 15, 34); */
    background-color: rgb(107, 14, 29);
    border: 1px white solid;
    
}
.card{
    background-color: none;
}
#contact-icon {
    color: black;
    font-size: 19px;
    padding-bottom: 50px;
    }
#contact-icon .card:hover i,#contact .card:hover h4{
    /* color: #466e40; */
    }
.container {
    box-sizing: border-box;
    text-align: center;
}
    #contact-icon .social-midia h1 {
    font-size: 48px;
    text-transform: uppercase;
}
    #contact-icon .social-midia ul {
    margin: 0;
    padding: 0;
}
    #contact-icon .social-midia ul li {
    list-style: none;
    float: left;
    width: calc(100% / 8);
    box-sizing: border-box;
}
    #contact-icon .social-midia ul li a {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: #fff;
}
    #contact-icon-icon .social-midia ul li a .fa {
    font-size: 25px;
    transition: .5s;
}
#contact-icon .social-midia ul li a:hover .fa {transform: scale(1.3);}
#contact-icon .social-midia ul li:nth-child(1) a {background: #3b5999;}
#contact-icon .social-midia ul li:nth-child(2) a {background: #55acee;}
#contact-icon .social-midia ul li:nth-child(3) a {background: #dd4b39;}
#contact-icon .social-midia ul li:nth-child(4) a {background: #007785;}
#contact-icon .social-midia ul li:nth-child(5) a {background: #00aff0;}
#contact-icon .social-midia ul li:nth-child(6) a {background: #e4405f;}
#contact-icon .social-midia ul li:nth-child(7) a {background: #cd201f;}
#contact-icon .social-midia ul li:nth-child(8) a {background: #bd081c;}


@media (max-width: 992px) {
    #contact .social-midia h1 {font-size: 30px;}
    #contact .social-midia ul li {width: calc(100% / 4);}
  }

  @media (max-width: 768px) {
    #contact .social-midia {width: 100%;}
  }

  @media (max-width: 480px) {
    #contact .social-midia {margin: 20px auto;}
    #contact .social-midia ul li {width: calc(100% / 2);}
  }
  @media (max-width: 360px) {
    #contact .social-midia {margin: 0 auto;}
    #contact .social-midia ul li {width: calc(100% / 1);}
  }
      