/* line 1, ../sass/descriptio.scss */
.description-section {
  background: #610b19;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #240b36, #c31432);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, black, #610b19, black);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/* line 8, ../sass/descriptio.scss */
.description-section div .description-section-image {
  padding: 60px 50px;
}
/* line 11, ../sass/descriptio.scss */
.description-section div .description-section-dec {
  text-align: justify;
  text-justify: inter-word;
  padding: 80px 35px;
  color: #cfc9c9;
}
