/* Footer */
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
/* line 13, ../sass/footer.scss */
.footer-link {
  padding: 0px 0px;
}

/* line 16, ../sass/footer.scss */
#footer {
  background: #610b19;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #240b36, #c31432);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, black, #610b19, black);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 70px 0px;
}

/* line 22, ../sass/footer.scss */
#footer h5 {
  padding-left: 10px;
  border-left: 3px solid #eeeeee;
  padding-bottom: 6px;
  margin-bottom: 20px;
  color: #ffffff;
}

/* line 29, ../sass/footer.scss */
#footer a {
  color: #ffffff;
  text-decoration: none !important;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

/* line 35, ../sass/footer.scss */
#footer ul.social li {
  padding: 3px 0;
}

/* line 38, ../sass/footer.scss */
#footer ul.social li a i {
  margin-right: 5px;
  font-size: 25px;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  transition: .5s all ease;
}

/* line 45, ../sass/footer.scss */
#footer ul.social li:hover a i {
  font-size: 30px;
  margin-top: -10px;
}

/* line 49, ../sass/footer.scss */
#footer ul.social li a,
#footer ul.quick-links li a {
  color: #ffffff;
}

/* line 53, ../sass/footer.scss */
#footer ul.social li a:hover {
  color: #eeeeee;
}

/* line 56, ../sass/footer.scss */
#footer ul.quick-links li {
  padding: 3px 0;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  transition: .5s all ease;
}

/* line 62, ../sass/footer.scss */
#footer ul.quick-links li:hover {
  padding: 3px 0;
  margin-left: 5px;
}

/* line 67, ../sass/footer.scss */
#footer ul.quick-links li a i {
  margin-right: 5px;
}

/* line 70, ../sass/footer.scss */
#footer ul.quick-links li:hover a i {
  font-weight: 700;
}

@media (max-width: 767px) {
  /* line 75, ../sass/footer.scss */
  #footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
  }
}
