/* line 1, ../sass/gallery.scss */
.gellary-section {
  /* background: #610b19; */
  background: linear-gradient(to bottom, #610b19, #610b19, black);
  margin-top: -10px;
  padding-top: 50px;
  padding-bottom: 100px;
}

/* line 10, ../sass/gallery.scss */
.portfolio-menu {
  text-align: center;
}
/* line 13, ../sass/gallery.scss */
.portfolio-menu ul li {
  display: inline-block;
  margin: 0;
  list-style: none;
  padding: 10px 15px;
  cursor: pointer;
  -webkit-transition: all 05s ease;
  -moz-transition: all 05s ease;
  -ms-transition: all 05s ease;
  -o-transition: all 05s ease;
  transition: all .5s ease;
  color: white;
  background-color: #013a55;
}

/* line 29, ../sass/gallery.scss */
.portfolio-item .item {
  float: left;
  margin-bottom: 10px;
}
