/* line 1, ../sass/nav.scss */
nav {
  background: #c31432;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, rgba(36, 11, 54, 0), rgba(195, 20, 50, 0.5));
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, rgba(36, 11, 54, 0), rgba(195, 20, 50, 0.5));
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100%;
  height: 50px;
  padding-bottom: 30px;
  transition: all ease-in-out 0.5s;
}
/* line 9, ../sass/nav.scss */
nav a {
  color: white;
  font-family: 'Oleo Script', cursive;
  font-size: 20px;
  transition: all ease-in-out 0.5s;
}
/* line 15, ../sass/nav.scss */
nav a:hover {
  color: #dfcece;
}
/* line 19, ../sass/nav.scss */
nav li {
  transition: all ease-in-out 0.7s;
}

/* line 30, ../sass/nav.scss */
.navbar-toggler {
  background-color: #7a0c1e;
  color: #c31432;
}

/* line 34, ../sass/nav.scss */
.navbar-brand {
  position: absolute;
  margin-top: 50px;
  transition: all ease-in-out 0.5s;
  margin-left: 30px;
}
/* line 39, ../sass/nav.scss */
.navbar-brand img {
  transition: all ease-in-out 0.5s;
}

@media screen and (max-width: 992px) {
  /* line 46, ../sass/nav.scss */
  .main-navbar {
    background-color: #c3143152;
    padding: 0px;
    margin-top: 5px;
  }
  /* line 50, ../sass/nav.scss */
  .main-navbar ul {
    float: right;
    text-align: center;
    width: 100%;
  }
  /* line 54, ../sass/nav.scss */
  .main-navbar ul li {
    margin-right: 0px;
    width: 100%;
  }
  /* line 57, ../sass/nav.scss */
  .main-navbar ul li:hover {
    background-color: #7a0c1e;
  }

  /* line 65, ../sass/nav.scss */
  .navbar-brand {
    position: absolute;
    margin-top: 0px;
    transition: all ease-in-out 0.5s;
    margin-left: 20px;
  }
  /* line 70, ../sass/nav.scss */
  .navbar-brand img {
    transition: all ease-in-out 0.5s;
    height: 35%;
    width: 35%;
  }
}
