/* line 1, ../sass/recentEvent.scss */
.recentEvent-section {
  background-image: url(../img/1.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
}
/* line 10, ../sass/recentEvent.scss */
.recentEvent-section .recentEvent-mask {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  opacity: 0;
  position: absolute;
  background: rgba(195, 20, 49, 0.472);
}
/* line 24, ../sass/recentEvent.scss */
.recentEvent-section div div {
  padding: 0px;
}
/* line 26, ../sass/recentEvent.scss */
.recentEvent-section div div div {
  padding: 7px;
  z-index: 5;
}
/* line 29, ../sass/recentEvent.scss */
.recentEvent-section div div div .mask-events {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  position: absolute;
  background: rgba(195, 20, 49, 0.315);
  opacity: 1;
  border: 5px solid transparent;
  margin: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 43, ../sass/recentEvent.scss */
.recentEvent-section div div div .mask-events a {
  color: white;
  background-color: rgba(97, 11, 25, 0.363);
  text-decoration: none;
  display: block;
  padding: 20px;
  border: white 1px solid;
  width: 200px;
  text-align: center;
  transition: all 0.2s ease-in-out;
}
/* line 53, ../sass/recentEvent.scss */
.recentEvent-section div div div .mask-events a:hover {
  background-color: rgba(97, 11, 25, 0.966);
  transform: scale(1.2);
}
