/* line 1, ../sass/service-details.scss */
.individual-service-page-section {
  background: linear-gradient(to top, black, #610b19);
  padding-top: 150px;
}
/* line 4, ../sass/service-details.scss */
.individual-service-page-section .details {
  text-align: left;
  color: white;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* line 12, ../sass/service-details.scss */
.individual-service-page-section .details h1 {
  padding: 20px 40px;
  width: 100%;
  border: 1px white solid;
  margin-top: 3px;
}
/* line 17, ../sass/service-details.scss */
.individual-service-page-section .details h1:hover {
  background-color: #6b0e1d;
}
/* line 23, ../sass/service-details.scss */
.individual-service-page-section .image {
  position: relative;
  padding: 0px;
}
/* line 26, ../sass/service-details.scss */
.individual-service-page-section .image .image-mask {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  opacity: 1;
  position: absolute;
  background: rgba(195, 20, 49, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* line 40, ../sass/service-details.scss */
.individual-service-page-section .image .image-mask h1 {
  background: rgba(195, 20, 49, 0.472);
  border: 1px white solid;
  padding: 20px;
  font-size: 30px;
  color: white;
}
/* line 47, ../sass/service-details.scss */
.individual-service-page-section .image .image-mask p {
  background: rgba(195, 20, 49, 0.472);
  border: 1px white solid;
  padding: 15px;
  font-size: 30px;
  color: white;
  margin-top: 20px;
}
/* line 56, ../sass/service-details.scss */
.individual-service-page-section .image img {
  height: 100%;
  width: 100%;
}
