/* line 3, ../sass/service.scss */
.service-section {
  background: linear-gradient(to bottom, #610b19, black);
  padding: 100px 0px 50px 0px;
  position: relative;
}
/* line 10, ../sass/service.scss */
.service-section .mask-service {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  position: absolute;
  opacity: 1;
  border: 5px solid transparent;
  margin: 5px 5px 7px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}
/* line 27, ../sass/service.scss */
.service-section .mask-service a {
  color: white;
  background-color: rgba(97, 11, 25, 0.363);
  text-decoration: none;
  display: block;
  padding: 20px;
  border: white 1px solid;
  width: 200px;
  text-align: center;
  transition: all 0.2s ease-in-out;
}
/* line 37, ../sass/service.scss */
.service-section .mask-service a:hover {
  background-color: rgba(97, 11, 25, 0.966);
  transform: scale(1.2);
}
/* line 43, ../sass/service.scss */
.service-section .service {
  position: relative;
}
/* line 47, ../sass/service.scss */
.service-section .service .service-main {
  padding: 5px;
}
/* line 52, ../sass/service.scss */
.service-section .service .service-scendary .service-scendary-1 {
  padding: 0px;
}
/* line 54, ../sass/service.scss */
.service-section .service .service-scendary .service-scendary-1 img {
  height: 300px;
}
/* line 58, ../sass/service.scss */
.service-section .service .service-scendary .service-scendary-1 div {
  padding: 5px;
}
/* line 65, ../sass/service.scss */
.service-section .service .service-scendary .service-scendary-2 img {
  height: 200px;
}
/* line 69, ../sass/service.scss */
.service-section .service .service-scendary .service-scendary-2 div {
  padding: 5px;
}
