/* line 1, ../sass/slider.scss */
.carousel-indicators {
  margin-bottom: 10px;
}
/* line 3, ../sass/slider.scss */
.carousel-indicators li {
  height: 5px;
  width: 40px;
}

/* line 8, ../sass/slider.scss */
.carousel-caption {
  margin-bottom: 40px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

/* line 14, ../sass/slider.scss */
.mask {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  position: absolute;
  background: #c31432;
  /* fallback for old browsers */
  background: linear-gradient(to top, #610b19, transparent);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
