@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
/* line 5, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/nav.scss */
nav {
  background: #c31432;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, rgba(36, 11, 54, 0), rgba(195, 20, 50, 0.5));
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, rgba(36, 11, 54, 0), rgba(195, 20, 50, 0.5));
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100%;
  height: 50px;
  padding-bottom: 30px;
  transition: all ease-in-out 0.5s;
}
/* line 9, ../sass/nav.scss */
nav a {
  color: white;
  font-family: 'Oleo Script', cursive;
  font-size: 20px;
  transition: all ease-in-out 0.5s;
}
/* line 15, ../sass/nav.scss */
nav a:hover {
  color: #dfcece;
}
/* line 19, ../sass/nav.scss */
nav li {
  transition: all ease-in-out 0.7s;
}

/* line 30, ../sass/nav.scss */
.navbar-toggler {
  background-color: #7a0c1e;
  color: #c31432;
}

/* line 34, ../sass/nav.scss */
.navbar-brand {
  position: absolute;
  margin-top: 50px;
  transition: all ease-in-out 0.5s;
  margin-left: 30px;
}
/* line 39, ../sass/nav.scss */
.navbar-brand img {
  transition: all ease-in-out 0.5s;
}

@media screen and (max-width: 992px) {
  /* line 46, ../sass/nav.scss */
  .main-navbar {
    background-color: #c3143152;
    padding: 0px;
    margin-top: 5px;
  }
  /* line 50, ../sass/nav.scss */
  .main-navbar ul {
    float: right;
    text-align: center;
    width: 100%;
  }
  /* line 54, ../sass/nav.scss */
  .main-navbar ul li {
    margin-right: 0px;
    width: 100%;
  }
  /* line 57, ../sass/nav.scss */
  .main-navbar ul li:hover {
    background-color: #7a0c1e;
  }

  /* line 65, ../sass/nav.scss */
  .navbar-brand {
    position: absolute;
    margin-top: 0px;
    transition: all ease-in-out 0.5s;
    margin-left: 20px;
  }
  /* line 70, ../sass/nav.scss */
  .navbar-brand img {
    transition: all ease-in-out 0.5s;
    height: 35%;
    width: 35%;
  }
}
/* line 1, ../sass/slider.scss */
.carousel-indicators {
  margin-bottom: 10px;
}
/* line 3, ../sass/slider.scss */
.carousel-indicators li {
  height: 5px;
  width: 40px;
}

/* line 8, ../sass/slider.scss */
.carousel-caption {
  margin-bottom: 40px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

/* line 14, ../sass/slider.scss */
.mask {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  position: absolute;
  background: #c31432;
  /* fallback for old browsers */
  background: linear-gradient(to top, #610b19, rgba(0, 0, 0, 0));
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* line 3, ../sass/service.scss */
.service-section {
  background: linear-gradient(to bottom, #610b19, #000000);
  padding: 100px 0px 50px 0px;
  position: relative;
}
/* line 10, ../sass/service.scss */
.service-section .mask-service {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  position: absolute;
  opacity: 1;
  border: 5px solid transparent;
  margin: 5px 5px 7px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}
/* line 27, ../sass/service.scss */
.service-section .mask-service a {
  color: white;
  background-color: rgba(97, 11, 25, 0.363);
  text-decoration: none;
  display: block;
  padding: 20px;
  border: white 1px solid;
  width: 200px;
  text-align: center;
  transition: all 0.2s ease-in-out;
}
/* line 37, ../sass/service.scss */
.service-section .mask-service a:hover {
  background-color: rgba(97, 11, 25, 0.966);
  transform: scale(1.2);
}
/* line 43, ../sass/service.scss */
.service-section .service {
  position: relative;
}
/* line 47, ../sass/service.scss */
.service-section .service .service-main {
  padding: 5px;
}
/* line 52, ../sass/service.scss */
.service-section .service .service-scendary .service-scendary-1 {
  padding: 0px;
}
/* line 54, ../sass/service.scss */
.service-section .service .service-scendary .service-scendary-1 img {
  height: 300px;
}
/* line 58, ../sass/service.scss */
.service-section .service .service-scendary .service-scendary-1 div {
  padding: 5px;
}
/* line 65, ../sass/service.scss */
.service-section .service .service-scendary .service-scendary-2 img {
  height: 200px;
}
/* line 69, ../sass/service.scss */
.service-section .service .service-scendary .service-scendary-2 div {
  padding: 5px;
}

/* line 1, ../sass/recentEvent.scss */
.recentEvent-section {
  background-image: url(../img/1.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
}
/* line 10, ../sass/recentEvent.scss */
.recentEvent-section .recentEvent-mask {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  opacity: 0;
  position: absolute;
  background: rgba(195, 20, 49, 0.472);
}
/* line 24, ../sass/recentEvent.scss */
.recentEvent-section div div {
  padding: 0px;
}
/* line 26, ../sass/recentEvent.scss */
.recentEvent-section div div div {
  padding: 7px;
  z-index: 5;
}
/* line 29, ../sass/recentEvent.scss */
.recentEvent-section div div div .mask-events {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  position: absolute;
  background: rgba(195, 20, 49, 0.315);
  opacity: 1;
  border: 5px solid transparent;
  margin: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 43, ../sass/recentEvent.scss */
.recentEvent-section div div div .mask-events a {
  color: white;
  background-color: rgba(97, 11, 25, 0.363);
  text-decoration: none;
  display: block;
  padding: 20px;
  border: white 1px solid;
  width: 200px;
  text-align: center;
  transition: all 0.2s ease-in-out;
}
/* line 53, ../sass/recentEvent.scss */
.recentEvent-section div div div .mask-events a:hover {
  background-color: rgba(97, 11, 25, 0.966);
  transform: scale(1.2);
}

/* line 1, ../sass/descriptio.scss */
.description-section {
  background: #610b19;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #240b36, #c31432);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #000000, #610b19, #000000);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/* line 8, ../sass/descriptio.scss */
.description-section div .description-section-image {
  padding: 60px 50px;
}
/* line 11, ../sass/descriptio.scss */
.description-section div .description-section-dec {
  text-align: justify;
  text-justify: inter-word;
  padding: 80px 35px;
  color: #cfc9c9;
}

/* line 1, ../sass/trustedCompany.scss */
.trusted-company {
  position: relative;
}
/* line 3, ../sass/trustedCompany.scss */
.trusted-company .trusted-compeny-title {
  background-color: #c31432;
  z-index: 5;
}
/* line 7, ../sass/trustedCompany.scss */
.trusted-company .trusted-compeny-logo {
  display: flex;
  justify-content: space-between;
  padding: 0px 160px;
}
/* line 11, ../sass/trustedCompany.scss */
.trusted-company .trusted-compeny-logo a {
  text-decoration: none;
  padding: 0px;
}
/* line 15, ../sass/trustedCompany.scss */
.trusted-company .trusted-compeny-logo img {
  height: 35px;
  width: 100px;
}
/* line 21, ../sass/trustedCompany.scss */
.trusted-company div .logo-container {
  background: #610b19;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #240b36, #c31432);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #000000, #610b19, #000000);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin-bottom: 0px;
}
/* line 28, ../sass/trustedCompany.scss */
.trusted-company .title-of-logo {
  padding: 5px;
  font-size: 25px;
  color: #04bdbd;
}
/* line 34, ../sass/trustedCompany.scss */
.trusted-company .navigation-box {
  top: 0;
  right: 0;
  width: 100%;
  position: absolute;
}
@media (min-width: 768px) {
  /* line 42, ../sass/trustedCompany.scss */
  .trusted-company .breaking-caret:after {
    content: "";
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    position: absolute;
    right: -15px;
    top: 0;
  }
}

/* line 1, ../sass/contact-Us.scss */
.contact-section-1 {
  background-image: url(../img/6.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  align-content: center;
  margin-top: -50px;
  padding: 200px 0px;
}

/* line 11, ../sass/contact-Us.scss */
.con {
  width: 100%;
  justify-content: center;
  display: flex;
}
/* line 15, ../sass/contact-Us.scss */
.con .box {
  position: relative;
  width: 300px;
  height: 100px;
  box-sizing: border-box;
  text-align: center;
  margin: 0 10px;
  background: #00171d;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 0 0 0 2px #00070a;
}
/* line 26, ../sass/contact-Us.scss */
.con .box .icon {
  width: 100%;
  height: 100%;
  background: #00171d;
  transition: 0.5s;
}
/* line 31, ../sass/contact-Us.scss */
.con .box .icon .fa {
  font-size: 4em;
  line-height: 100px;
  color: #04bdbd;
}
/* line 37, ../sass/contact-Us.scss */
.con .box:hover .icon {
  transform: scale(0);
}
/* line 40, ../sass/contact-Us.scss */
.con .box .details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #013a55;
  transition: 0.5s;
  transform: scale(2);
  opacity: 0;
}
/* line 51, ../sass/contact-Us.scss */
.con .box:hover .details {
  transform: scale(1);
  opacity: 1;
}
/* line 56, ../sass/contact-Us.scss */
.con .box .details h3 {
  margin: 0;
  padding: 0;
  line-height: 100px;
  font-size: 24px;
  color: #fff;
}
/* line 63, ../sass/contact-Us.scss */
.con .box .details:nth-child(2) .details {
  background: #e91e63;
  background: #607d8b;
}

/*Contact sectiom*/
/* line 3, ../sass/contactUs-Page.scss */
.content-header {
  font-family: 'Oleo Script', cursive;
  color: #fcc500;
  font-size: 45px;
}

/* line 9, ../sass/contactUs-Page.scss */
.section-content {
  text-align: center;
}

/* line 13, ../sass/contactUs-Page.scss */
.frame {
  padding: 15px;
  height: 100%;
  width: 100%;
}

/* line 22, ../sass/contactUs-Page.scss */
#contact {
  background-image: url(../img/26.jpg);
  font-family: 'Teko', sans-serif;
  padding-top: 60px;
  width: 100%;
  width: 100%;
  background: #610b19;
  background: -webkit-linear-gradient(to top, #000000, #610b19);
  background: linear-gradient(to top, #000000, #610b19);
  color: #fff;
}

/* line 35, ../sass/contactUs-Page.scss */
.contact-section {
  padding-top: 0px;
}
/* line 37, ../sass/contactUs-Page.scss */
.contact-section .col-md-6 {
  width: 100%;
}

/* line 46, ../sass/contactUs-Page.scss */
.form-group {
  margin-top: 10px;
}

/* line 50, ../sass/contactUs-Page.scss */
label {
  font-size: 1.3em;
  line-height: 1em;
  font-weight: normal;
}

/* line 56, ../sass/contactUs-Page.scss */
.form-control {
  font-size: 1.3em;
  color: #080808;
}

/* line 61, ../sass/contactUs-Page.scss */
textarea.form-control {
  height: 135px;
  /* margin-top: px;*/
}

/* line 66, ../sass/contactUs-Page.scss */
.submit {
  font-size: 1.1em;
  float: right;
  width: 150px;
  background-color: transparent;
  color: #fff;
}

/* line 1, ../sass/service-details.scss */
.individual-service-page-section {
  background: linear-gradient(to top, #000000, #610b19);
  padding-top: 150px;
}
/* line 4, ../sass/service-details.scss */
.individual-service-page-section .details {
  text-align: left;
  color: white;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* line 12, ../sass/service-details.scss */
.individual-service-page-section .details h1 {
  padding: 20px 40px;
  width: 100%;
  border: 1px white solid;
  margin-top: 3px;
}
/* line 17, ../sass/service-details.scss */
.individual-service-page-section .details h1:hover {
  background-color: #6b0e1d;
}
/* line 23, ../sass/service-details.scss */
.individual-service-page-section .image {
  position: relative;
  padding: 0px;
}
/* line 26, ../sass/service-details.scss */
.individual-service-page-section .image .image-mask {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  opacity: 1;
  position: absolute;
  background: rgba(195, 20, 49, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* line 40, ../sass/service-details.scss */
.individual-service-page-section .image .image-mask h1 {
  background: rgba(195, 20, 49, 0.472);
  border: 1px white solid;
  padding: 20px;
  font-size: 30px;
  color: white;
}
/* line 47, ../sass/service-details.scss */
.individual-service-page-section .image .image-mask p {
  background: rgba(195, 20, 49, 0.472);
  border: 1px white solid;
  padding: 15px;
  font-size: 30px;
  color: white;
  margin-top: 20px;
}
/* line 56, ../sass/service-details.scss */
.individual-service-page-section .image img {
  height: 100%;
  width: 100%;
}

/* line 1, ../sass/gallery.scss */
.gellary-section {
  /* background: #610b19; */
  background: linear-gradient(to bottom, #610b19, #610b19, #000000);
  margin-top: -10px;
  padding-top: 50px;
  padding-bottom: 100px;
}

/* line 10, ../sass/gallery.scss */
.portfolio-menu {
  text-align: center;
}
/* line 13, ../sass/gallery.scss */
.portfolio-menu ul li {
  display: inline-block;
  margin: 0;
  list-style: none;
  padding: 10px 15px;
  cursor: pointer;
  -webkit-transition: all 05s ease;
  -moz-transition: all 05s ease;
  -ms-transition: all 05s ease;
  -o-transition: all 05s ease;
  transition: all .5s ease;
  color: white;
  background-color: #013a55;
}

/* line 29, ../sass/gallery.scss */
.portfolio-item .item {
  float: left;
  margin-bottom: 10px;
}

/* Footer */
/* line 13, ../sass/footer.scss */
.footer-link {
  padding: 0px 0px;
}

/* line 16, ../sass/footer.scss */
#footer {
  background: #610b19;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #240b36, #c31432);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #000000, #610b19, #000000);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 70px 0px;
}

/* line 22, ../sass/footer.scss */
#footer h5 {
  padding-left: 10px;
  border-left: 3px solid #eeeeee;
  padding-bottom: 6px;
  margin-bottom: 20px;
  color: #ffffff;
}

/* line 29, ../sass/footer.scss */
#footer a {
  color: #ffffff;
  text-decoration: none !important;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

/* line 35, ../sass/footer.scss */
#footer ul.social li {
  padding: 3px 0;
}

/* line 38, ../sass/footer.scss */
#footer ul.social li a i {
  margin-right: 5px;
  font-size: 25px;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  transition: .5s all ease;
}

/* line 45, ../sass/footer.scss */
#footer ul.social li:hover a i {
  font-size: 30px;
  margin-top: -10px;
}

/* line 49, ../sass/footer.scss */
#footer ul.social li a,
#footer ul.quick-links li a {
  color: #ffffff;
}

/* line 53, ../sass/footer.scss */
#footer ul.social li a:hover {
  color: #eeeeee;
}

/* line 56, ../sass/footer.scss */
#footer ul.quick-links li {
  padding: 3px 0;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  transition: .5s all ease;
}

/* line 62, ../sass/footer.scss */
#footer ul.quick-links li:hover {
  padding: 3px 0;
  margin-left: 5px;
}

/* line 67, ../sass/footer.scss */
#footer ul.quick-links li a i {
  margin-right: 5px;
}

/* line 70, ../sass/footer.scss */
#footer ul.quick-links li:hover a i {
  font-weight: 700;
}

@media (max-width: 767px) {
  /* line 75, ../sass/footer.scss */
  #footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
  }
}
/* line 15, ../sass/style.scss */
body {
  font-family: 'Oleo Script', cursive;
  background-color: black;
}

/* line 20, ../sass/style.scss */
img {
  width: 100%;
  height: 100%;
}
