/* line 1, ../sass/trustedCompany.scss */
.trusted-company {
  position: relative;
}
/* line 3, ../sass/trustedCompany.scss */
.trusted-company .trusted-compeny-title {
  background-color: #c31432;
  z-index: 5;
}
/* line 7, ../sass/trustedCompany.scss */
.trusted-company .trusted-compeny-logo {
  display: flex;
  justify-content: space-between;
  padding: 0px 160px;
}
/* line 11, ../sass/trustedCompany.scss */
.trusted-company .trusted-compeny-logo a {
  text-decoration: none;
  padding: 0px;
}
/* line 15, ../sass/trustedCompany.scss */
.trusted-company .trusted-compeny-logo img {
  height: 35px;
  width: 100px;
}
/* line 21, ../sass/trustedCompany.scss */
.trusted-company div .logo-container {
  background: #610b19;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #240b36, #c31432);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, black, #610b19, black);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin-bottom: 0px;
}
/* line 28, ../sass/trustedCompany.scss */
.trusted-company .title-of-logo {
  padding: 5px;
  font-size: 25px;
  color: #04bdbd;
}
/* line 34, ../sass/trustedCompany.scss */
.trusted-company .navigation-box {
  top: 0;
  right: 0;
  width: 100%;
  position: absolute;
}
@media (min-width: 768px) {
  /* line 42, ../sass/trustedCompany.scss */
  .trusted-company .breaking-caret:after {
    content: "";
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    position: absolute;
    right: -15px;
    top: 0;
  }
}
